<%- include("includes/head.ejs") %>
<h1 class="text-3xl font-bold">Products</h1>
<div
  id="products"
  class="flex flex-wrap justify-center xl:justify-start py-5 gap-5"
>
  <% locals.products?.forEach(product => {%> <%-
  include("./components/product-card.ejs", { product }) %> <% }) %>
</div>
<%- include("includes/end.ejs") %>
